.custom-carousel {
  margin-top: 0px; /* Ensure it doesn't overlap with the header */
  height: 980px; /* Specify your desired height */
}

.custom-carousel .carousel-item {
  height: 980px;
}

.custom-carousel .carousel-item img {
  height: 100%;
  object-fit: cover; /* Ensure images cover the entire carousel area */
}
